<carousel-component>
  <div class="item-carousel">
    <div class="b">
      <img src='../../../assets/images/DARTH_VADER.jpg'>
    </div>
  </div>
  <div class="item-carousel">
    <div class="b">
      <img src='../../../assets/images/LEIA.jpg'>
    </div>
  </div>
  <div class="item-carousel">
    <div class="b">
      <img src='../../../assets/images/LUKE.jpg'>
    </div>
  </div>
  <div class="item-carousel">
    <div class="b">
      <img src='../../../assets/images/OWEN.jpg'>
    </div>
  </div>
  <div class="item-carousel">
    <div class="b">
      <img src='../../../assets/images/R2D2.jpg'>
    </div>
  </div>
  <div class="item-carousel">
    <div class="b">
      <img src='../../../assets/images/R5D4.jpg'>
    </div>
  </div>
  <div class="item-carousel">
    <div class="b">
      <img src='../../../assets/images/C3P0.jpeg'>
    </div>
  </div>
</carousel-component>
