.expansionPanelMaterial {
    background-color: rgba(255, 255, 255, 0.6);
}

.expansionPanelHeaderMaterial {
  transition: background-color .3s ease-out;
}
.expansionPanelTitleMaterial,
.expansionPanelDescriptionMaterial {
  font-weight: bold;
}
.mat-expansion-indicator::after {
  transform-origin: right;
}
